<div class="p-4">
    <h1>Jumbotron Example</h1>
    <p>Lorem ipsum... Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deleniti eligendi repellat earum
        mollitia aliquam omnis molestias, facilis accusamus voluptates, unde commodi inventore eveniet delectus cum
        dolore nobis nemo voluptatem.</p>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="width:300px;" >
            <img class="card-img-top" src="assets/img_avatar1.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Email</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="assets/img_avatar1.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Email</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="assets/img_avatar1.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Email</p>
            </div>
        </div>
    </div>
</div>

